body{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    color: #1F242C;
    display: block;
}

/*--------------------modal mailscribtion-------------*/

    
.modal-header {
    justify-content: flex-end;
}
.modal-header button {
    border: 0px;
    border-radius: 50%;
}
.modal-body.text-center h4 {
    color: #f7941d;
    font-weight: bold;
}
.modal-body svg.iconify {
    font-size: 70px;
    background-color: cornsilk;
    border-radius: 31px 0px;
    padding: 8px;
}
.input-group .btn {
    position: relative;
    z-index: 2;
    color: #ffffff;
    background-color: #f7941d;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #f7941d;
}

.input-group .btn:hover {
    position: relative;
    z-index: 2;
    color: #ffffff;
    background-color: #da7801;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #da7801;
}
.input-group .btn:focus {
    box-shadow: 0 0 0 0.25rem #f7941d3d;
}

#emailinput:focus {
    box-shadow: 0 0 0 0.25rem #f7941d3d;
}
#emailinput {
    border-radius: 20px 0px 0px 20px;
}
.modal-footer p{
    font-style: italic;
    font-size: smaller ;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before{
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f7941d;
    border-top-color: #fff;
    border-bottom-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  #preloader span.iconify{
    position: relative;
    top: calc(50%-30px);
    top: calc(50%-30px);
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;

  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #f7941d;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #fc8c04;
    transition: background 0.2s ease-in-out;
  }
  
/*small screen style*/
@media (max-width: 978px) {
    .hero{
        padding-left: 30px !important;
    }
    
    .left_image{
        margin:15%;
        margin-bottom: 0 !important;
    }
    .big_font{
        font-size:80px !important;
        font-weight:500px !important;
        /* overflow-wrap: break-word; */

    }
    .left_image{
        height: 0px !important;
    }
    .hero_float_end{
        margin-top: 0px !important;
    }

    .values{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}


/*background big fonts*/

.big_font{
    font-family: poppins;
    -webkit-text-stroke: 1px #f7951d31;
    line-height: 100px;
    font-weight: bolder;
    font-size: 150px;
    border-color: rgb(255 255 255);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: #fff0 !important;
}


/* Mobile Navigation */
.navbar-toggler {
    position: relative;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
  .navbar-toggler i {
    color: #f7941d;
  
  }
  
  .navbar-toggler {
    overflow: hidden;
  }

/* navbar */

.navbar{

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0px 100px !important;
}

@media (max-width:987px) {
    .navbar{

        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 0px 0px !important;
    }  
}


.navbar .nav-item .nav-link{
    font-size: 15px;
    font-weight: 400px;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

.navbar .nav-item .nav-link:hover{
    color:#f7941d;

}

.main-btn{
    width: fit-content;
    text-decoration: none;
    border: 2px solid #f7941d;
    box-sizing: border-box;
    border-radius: 30px; 
    padding-left: 5px;
    padding-right: 5px;
}


.navbar-brand img {
    height: 55px;

} 
/*-----------------------------------------------------------------------------------------------------------------
hero---------------------------------------------------------------------------*/
.hero{
    background-image: url(../img/hero-img.jpg);
    height: 500px;
    width: 100%;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 200px;
    margin-top: 65px;
    
}
.hero .big_font{
    position: relative;
    margin-top: -270px;
    margin-left: -70px;
    display: block;
}
.hero h1{
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.hero p{
    color: #131313;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;

}

.hero p span{
    color: #f7941d;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
}

#coa{
    border-radius: 30px;
    background-color: #f7941d;
    color: #ffffff;
    padding: 10px 50px !important;
    border: 0px;
    transition: all .2s ease-in-out;
}

#coa:hover{
    border-radius: 30px;
    background-color: #fc8c04;
    color: #ffffff;
    padding: 10px 50px !important;
    border: 0px;
    transform: scale(1.09);
}
.hero_float_end{
    background: url(../img/counter_bg.png);
    margin-top: -120px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.hero_float_end .right_content{
    justify-content: center;
    height: auto;
    background: #1F242C;
}
.hero_float_end .right_content p {
   color: wheat;
   display: flex;
   justify-content: flex-start;
   padding: 0px 0px 0px 70px;
   font-size: 15px;
   line-height: 19px;
}
.hero_float_end .right_content h2 {
    padding-top: 30px;
    color: #f7941d;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
 }
 .left_image{
     background: url(../img/house.jpg);
     background-repeat: no-repeat;
     background-size: contain;
     width: 309px;
     height: 284px;
     margin-top: -14px;

 }

/*-------universal class styles------*/

.subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
}

/*----------About_Us-------*/
#about{
    margin-top: 100px;
    margin-bottom: 60px;
    
}

#about h2{
    font-size: 40px;
}

#about p{
    line-height: 40px;
    padding-top: 40px;
}

#about .big_font{
    position: relative;
    margin-top: -150px;
    display: block;

}

#about .subtitle_hd_dash{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #007D32;
}
.cap_bg_img{
    background: url(../img/bg_image1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 150px;
    position: relative;
    padding-bottom: 30px;
}
.objective h4 {
    color: #f0f0f0;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 40px;

}
.objective h3{
    font-size: 17px;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 20px;

}
.mission, .vision{
    background: #f0f0f0;
    border-radius: 10px;
    width: 95%;
    line-height: 30px;
}

/*--------------------------------------------------------------
Values
--------------------------------------------------------------*/
#values{
   background-color: #1F242C;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 100px;
}
#values .subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
    
}
#values .flaticon{
    font-size: 85px;
    color:#D6D6D6;

}
#values i p{
    color: #f0f0f0;
    font-size: 17px;
    font-style: normal;
}

#values .big_font{
   margin-top: -115px;
   z-index: 1;
}
#values .subtitle_hd_dash{
    padding-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #F7941D;
}
#values h2{
    padding-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height, or 118% */
    color: #FFFFFF;
    z-index: 1;
}
@media (max-width: 978px){

    #values{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
    }

    #values .subtitle_hd_dash{
        padding-left: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        color: #F7941D;
    }
    #values h2{
        padding-left: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        /* identical to box height, or 118% */
        color: #FFFFFF;
    }

}

#icon:hover, #icon i.flaticon:hover, #icon i p:hover {
    transform: scale(1.1) !important;
    color: #F7941D !important;
}
#icon2:hover, #icon2 .flaticon:hover, #icon2 i p:hover{
    transform: scale(1.1) !important;
    color: #007D32 !important;
}
/*---------------------------------------------------------------------------------------------------------------------
Services-------------------------------------------------------------------------------------------------------*/

#services{
    margin-top: 150px;
    margin-bottom: 50px;
    offset: -100px;

}

#services .big_font{
    margin-top: -80px;
}
@media (max-width:978px) {
    #services .big_font{
        margin-top: -20px;
        left:0px;
        font-size: 65px !important;
    }   
}

@media (max-width:345px) {
    #services .big_font{
        margin-top: -17px;
        left:0px;
        font-size: 55px !important;
    }   
}

#services .subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;   
}

#services .subtitle_hd_dash{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #007D32;
}
#services h2{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #1F242C;
}

.scrollspy{
    overflow: auto;
    height: 350px;
}

.scrollspy p{
    line-height: 40px;

}

#services-list .list-group-item{
    border: 0 !important;
    padding: 10px 5px;
    line-height: 30px;
    margin-bottom: 20px;
    
}
#services-list  a{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #616161;
}
@media (max-width:987px) {
    #services-list  a{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #616161;
    }
}

.plusicon{

    font-size: 30px;
    padding-right: 5px;
}

.list-group-item{
    border-radius: 67px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.list-group-item:hover{
    background: #007D32;
    color: #F0F0F0 !important;
    text-decoration: none;
    border-radius: 67px;
}

.scrollspy h4{
    color: #007d32;
    font-weight: bold;
}

.list-group-item:active{
    background: #007D32;
    color: #f0f0f0 !important;
    text-decoration: none;
    border-radius: 67px;
}

.list-group-item.active {
    background: #007D32;
    color: #F0F0F0 !important;
    text-decoration: none;
    border-radius: 67px;
}

@media (max-width:978px) {
    #services-list .list-group-item {
        border: 0 !important;
    }
}


/*---------------------------------------------------------------------------------------------------------------------
products-------------------------------------------------------------------------------------------------------*/

#products {
    background: #1F242C;
    color: #f0f0f0;
}
#products span{
    font-style:bold;
    color: #f7941d;
}
#products .subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
    
}
#products .big_font{

    position: absolute;
    margin-top: -500px;
    text-align: center;
}
@media (max-width:978px) {
    #products .big_font{
        left:0px;
        font-size: 65px !important;
    }   
}

@media (max-width:345px) {
    #products .big_font{
        left:0px;
        font-size: 55px !important;
    }   
}
#products p{
    line-height: 40px;
}
#products ul li{
    line-height: 30px;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

#products ul .iconify{
    font-size: 24px;
    color: #f7941d;

}
#products h3{
    text-align: center;
    font-size: 30px;
    color: #f7941d;

}
#products .btn{
    align-items: center;
    background-color: #007D32;
    border: none;
    border-radius: 30px;
}
#products .btn:hover{
    align-items: center;
    background-color: #006428;
}


/*---------------------------------------------------------------------------------------------------------------------
Approach-------------------------------------------------------------------------------------------------------*/

#approach .subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
}

#approach .flaticon{
    font-size: 45px;
    display: inline;
}

#approach .apprh{
    width: 181px;
    height: 92px;
    left: 295px;
    top: 4755px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 17.7043px;
    margin: 5px;
    border: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

#approach .big_font{
    position: relative;
    margin-top: -150px;
}
@media (max-width:978px) {
    #approach .big_font{
        left:0px;
        font-size: 60px !important;
    }   
}

@media (max-width:345px) {
    #approach .big_font{
        left:0px;
        font-size: 50px !important;
    }   
}
#approach h4{
    font-size: 17px;
    padding-top: 30px;
    line-height: 40px;
}

#approach .subtitle_hd_dash{
    color: #007D32;
    font-style: normal;
    font-weight: bold;
}

#approach .content{
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center   ;
    background-color: #ffffff;
    color: #0f0f0f;
    border-radius: 10px;
    height: auto;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width:978px) {
    #approach .content{
        margin-top: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
        align-content: center   ;
        background-color: #ffffff;
        color: #0f0f0f;
        border-radius: 10px;
        height: auto;
        width: 80%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

#apprh1:hover{
    color: #007D32;
}

#apprh2:hover{
    color: #003385;
}
#apprh3:hover{
    color: #f7941d;
}
#apprh4:hover{
    color: #53D051;
}
#apprh5:hover{
    color: #E862FE;
}
.content{
    display: none;
}



/*---------------------------------------------------------------------------------------------------------------------
Agent-------------------------------------------------------------------------------------------------------*/

#agent{
    background-image: url(../img/agents_bg.svg);
    background-repeat: no-repeat;
    height: 880px;
    background-position-x: right;
}
#agent .subtitle_hd_dash{
    color: #f7941d;
    font-style: normal;
    font-weight: bold;
}
#agent .subtitle_hd_dash:before{
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
}

#agent .row{
    padding-top: 100px;
    color: #FFFFFF;
}

#agent h3{
     color: #f7941d;
}
#agent p {
    line-height: 30px;
    text-align: left;
}
#agent .btn{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #f7941d;
    color: #f0f0f0;
    border-radius: 20px;
}
/*-----------agent buttons---------*/
#agent .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
 #agent .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #agent .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
 #agent .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

/*---------------------------------------------------------------------------
------------Quote-----------------------*/

#quote{
    margin-top: 100px;

}
#quote .subtitle_hd_dash{

    color: #007d32;
    font-style: normal;
    font-weight: bold;
}
#quote .subtitle_hd_dash:before{

    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 2px;
    height: 1.1em;
    top: 4px;
    background-color: currentColor;
}
#quote h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #1F242C;
}

#quote .big_font{
    position: absolute;
    margin-top: -100px;
    z-index: 1;

}
#quote p{
    padding-top: 30px;
    line-height: 25px;

}

#quote .btn{
    color: #f0f0f0;
    background-color: #007d32;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* #quote .left{
    float: left;
}

#quote .right{
    float: right;
} */

#quote .box1{
    width:100%;
    height: 260px;
    background: #007d32;
    margin-top: 35px;
    text-align: center;
    padding-top: 60px;
}

#quote .box2 img{ 
    width: 100%;

}

#quote .box3 img{ 
    width: 100%;

}
#quote .box1 p{
    font-style: normal;
    font-weight: bold;
    font-size: 24.7947px;
    line-height: 31px;
    display: flex;
    text-align: left;
    color: #000000;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
    border-top: 4px solid #f0f0f0;
} 

#quote .box4{
    width:100%;
    height: 260px;
    background: #f7941d;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 60px;
}
#quote .box4 p{
    font-style: normal;
    font-weight: bold;
    font-size: 24.7947px;
    line-height: 31px;
    display: flex;
    text-align: left;
    color: #F0F0F0;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 50px;
    border-top: 4px solid #f0f0f0;
 }

#quote .bx{
    font-size: 35px;
    color: #F0F0F0;
    float: left;
    padding-left: 20px;

}
#quote .bx:hover {
    font-size: 35px;
    color: #F0F0F0;
    float: left;
    padding-left: 20px;
    transform: rotate(45deg);
}
#quote .flaticon{
    font-size: 120px;
    margin-top: -240px;
    margin-left: -100px;
    color: #bbbbbb8c;
    position: absolute;
 }

/*---------------------------------------------------------------------------
------------footer-----------------------*/

#footer{
    margin-top: 40px;
    padding-top: 40px;
    height: auto;
    background-color: #1F242C;
    color: #f0f0f0;
}

#footer img{
    width: 100%;
    height: 100%;

}

#footer ul{
    text-decoration: none;
    list-style: none;
    line-height: 30px;
    text-align: left;
}

#footer a{
    text-decoration: none;
    color: #F0F0F0;
}

#footer a:hover{
    color:#f7941d
}

#footer .btn{
    background: #F7941D;
    color: #f0f0f0;
    padding-left: 10px;
    border-radius: 20px;

}
#footer .btn:hover{
    background: #e08413;
    color: #1F242C;
    border-radius: 20px;

}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e1e4ec;
    color: #5f6f92;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #d86200;
    text-decoration: none;
    color: #fff;
  }
  
